@import "tailwindcss";


@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}